<ul class="bookmarks">
    {% for bookmark in bookmarks %}
        <li>
            <a class="header" herf="{{ bookmark.url }}">
                <h3 class="description">
                    {{ bookmark.company|truncate(50, killwords=True) }}
                </h3>
                <span class="url">
                    {{ bookmark.task|truncate(50, killwords=True) }}
                    <br>
                    Date:
                    {{ bookmark.workdate.date() }}
                    <br>
                    Working hours:
                    {{ bookmark.time }}
                </span>

            </a>
            <div class="info">
                <br>
                Added by <a href="{{ url_for('user', username=bookmark.user.username) }}">
                {{ bookmark.user.username }}
                </a>
                {{ moment(bookmark.date).fromNow() }}
                {% if current_user == bookmark.user %}
                    <span class="editlinks">
                        <a href="{{ url_for('edit_bookmark', bookmark_id=bookmark.id) }}">edit</a>
                    </span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>