{% extends "base.html" %}

{% block title %}

PureClock - Information for user{{user.username}}

{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>Records for user {{user.username}}</h1>
                <ul>
                {% if user.bookmarks.count() > 0 %}
                    {% with bookmarks=user.bookmarks %}
                        {% include "record_list_user.html" %}
                    {% endwith %}
                {% else %}
                	<li>This user has not added any records yet.</li>
                {% endif %}
                </ul>
		</header>
	</article>
{% endblock%}